.package {
    position: relative;
    width: 350px;
    height: 520px;
    background: url('../../../public/back-default.png') no-repeat;
    overflow: hidden;
    font-family: 'Exo2.0-Thin';
}

.package-text {
    position: absolute;
    left: 70px;
    top: 50px;
}

.package-type,
.package-name {
    font-family: 'Exo2-SemiBold';
    font-size: 3rem;
    letter-spacing: 2px;
}

.package-type {
    font-size: 1.6rem;
    letter-spacing: 0;
    padding-bottom: 10px;
}

.package-header {
    padding-bottom: 5px;
}

.weight {
    position: absolute;
    left: 78%;
    top: 220%;
    width: 80px;
    height: 80px;
    background-color: var(--default-color);
    border-radius: 50%;
    color: var(--head-color);
    font-family: 'Exo2.0-Thin';
    text-align: center;
}

.weight-number {
    font-size: 3rem;
    font-family: 'Exo2-Light';
}

.weight-text {
    margin-top: -10px;
    font-size: 1.5rem;
}